.background {
  height:100vh;
  width:100%;
  background: linear-gradient(180deg, #0b0220, #1b0550);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Inter', sans-serif;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  
  .icon {
    margin-right: 10px;
  }
  
  .title {
    font-weight:700;
  }
}

.login-box {
  background:rgba(0,0,0,0.3);
  padding: 40px 35px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 350px;
  backdrop-filter: blur(10px);
}

.input {
  background: rgba(255, 255, 255, 0.07);
  border: none;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;

  &::placeholder {
    color: #bbb;
  }
}


.login-btn {
  background: linear-gradient(90deg, #b63bff, #2985ff);
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.login-btn:hover {
  opacity: 0.9;
}

.signup-btn {
  margin-top: 15px;
  background: transparent;
  border: 1px solid #3a3f50;
  padding: 12px;
  border-radius: 10px;
  color: #8bb0ff;
  cursor: pointer;
  transition: 0.25s;
}

.signup-btn:hover {
  background: rgba(255, 255, 255, 0.05);
}


.forgot {
  margin-top: 10px;
  text-align: center;
  color: #b2b2b2;
  font-size: 0.9rem;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 30px;
  font-size: 1.1rem;
  letter-spacing: 1px;
}
